.category-bar {
    margin-bottom: 20px;
}

.category-bar .button-category {
    border: 1px solid #FC6668;
    border-radius: 100px;
    margin: 0.3rem;
    color: #000;
    background-color: #FFF;
    transition: .3s;
}

.category-bar .button-category.active {
    color: #FFF;
    background-clip: border-box;
    background-image: linear-gradient(to right, #FC6668, #E10489);
    border: 1px solid transparent;
}

/* .category-bar .button-category:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23FFFFFF77' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23FFFFFF77' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23FFFFFFB5' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23FFFFFFB5' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");

    background-repeat: repeat-x;
    background-size: 1600px 50%;
    background-position: 0 130%;

    animation: 5s waves linear infinite forwards;

    opacity: 0;
    transition: 0.4s ease-in-out;
} */

.category-bar .button-category:hover:before {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}