.category-bar {
    margin-bottom: 20px;
    align-items: center;

}

.category-bar .button-category {
    border: 1px solid #FC6668;
    border-radius: 100px;
    margin: 0.3rem;
    color: #000;
    background-color: #FFF;
    transition: .3s;
}

.category-bar .button-category.active {
    color: #FFF;
    background-clip: border-box;
    background-image: linear-gradient(to right, #FC6668, #E10489);
    border: 1px solid transparent;
}
