.category-bar {
    margin-bottom: 20px;
}

.category-bar .button-category {
    border: 1px solid #FC6668;
    border-radius: 100px;
    margin: 0.3rem;
    transition: .3s;
}

.category-bar .button-category.active {
    color: #FFF;
    background-clip: border-box;
    background-image: linear-gradient(to right, #FC6668, #E10489);
    border: 1px solid transparent;
}

.light-theme {
    .category-bar .button-category {
        color: #FC6668;
        background-color: #FFF;

        &.active {
            color: #FFF;
        }
    }
}

.dark-theme {
    .category-bar .button-category {
        color: #FFF;
        background-color: #212529;
    }

    &.active {
        color: #FFF;
    }
}