.subscribe-news__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(90deg, #4876e6 0%, #8957e9 100%);
    padding: 4rem;
    color: #fff;
    overflow: hidden;
}

.subscribe-news__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23ffffffa1' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23ffffffa1' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23ffffff77' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23ffffff77' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23ffffff52' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23ffffff52' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");


    background-repeat: repeat-x;
    background-size: 1600px 50%;
    background-position: 0 130%;

    animation: 12s waves linear infinite forwards;

    opacity: 0.8;
    transition: linear 0.5s;

}

.subscribe-form {
    height: 3rem;
    display: flex;
    flex: 1 0.5;
}

.subscribe-form * {
    border-radius: 10px;
    padding: 0.5rem 1rem;
 
}

.subscribe-form .form-control:focus {
   outline: none !important;
  box-shadow: none !important;
}

.wave-button {
    color: #fff;
    background: linear-gradient(90deg, #e30b87 0%, #fb6369 100%);
    padding: 1rem 2rem;
    overflow: hidden;
}

.wave-button::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23FFFFFF77' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23FFFFFF77' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23FFFFFFB5' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23FFFFFFB5' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");

    background-repeat: repeat-x;
    background-size: 1600px 50%;
    background-position: 0 130%;

    animation: 5s waves linear infinite forwards;

    opacity: 0;
    transition: linear 0.5s;
}

.wave-button:hover::before {
    opacity: 0.5;
}

@keyframes waves {
  to {
    background-position: 1600px 130%, 3150px 130%, 5300px 130%;
  }
}