#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .brand-name {
        color: #002050;
        font-size: 1.5rem;
    }

    .nav-link {
        color: #002050;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #f00;
        }
    }
}